/* Form Section */
.middle-section {
  display: flex;
  justify-content: center;
  margin-top: 75px;
} .middle-section form {
  display: flex;
  flex-direction: column;
  border: 2px solid #2F4454;
  width: 800px;
  border-radius: 20px;
  padding: 10px 50px;
} .middle-section h1 {
  padding-bottom: 20px;
  font-size: 45px;
  text-align: center;
} .middle-section h3 {
  font-size: 20px;
} .middle-section input {
  font-size: 25px;
  padding: 8px;
} #submit-btn {
  font-size: 25px;
  padding: 15px;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 20px;
} #submit-btn:hover {
  cursor: pointer;
} .btn-div {
  display: flex;
  justify-content: center;
} .color-red {
  color: red;
} 

#more-members {
  margin-top: 0;
  font-size: 35px;
  width: fit-content;
  margin: 0;
  user-select: none;
  float: right;
} .team-members {
  margin-bottom: 0;
} .team-inputs {
  height: fit-content;
  margin: 10px 0;
} #more-members:hover {
  cursor: pointer;
} .delete-btns {
  color: red;
  font-size: 60px;
  width: 10%;
  margin-left: 10px;
  display: inline;
} .new-input {
  display: block;
} .new-input h4:hover {
  cursor: pointer;
} 

