.hidden {
  display: none;
} .body {
  margin: 0;
  background-color: aliceblue;
} 

/* Side Nav */
nav {
  background-color: white;
  width: 450px;
  float: left;
  border-right: 1px solid black; 
  min-height: 1000px;
  user-select: none;
} .data-nav {
  margin-top: -15px;
} nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
} nav li {
  margin: 0;
} nav h1 {
  display: block;
  text-decoration: none;
  color: black;
  margin: 15px 0;
  padding: 5px 20px;
  font-size: 40px;
  font-weight: bold;
  /* transition-duration: 300ms; */
} nav h1:hover {
  cursor: pointer;
  /* transition-duration: 300ms; */
} nav span {
  float: right;
  font-weight: bolder;
} nav h3 {
  display: block;
  text-decoration: none;
  color: black;
  margin: 15px 0;
  padding: 5px 30px;
  font-size: 30px;
  font-weight: bold;
} nav h3:hover {
  cursor: pointer;
} .current-project {
  width: 80%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 30px;
  margin-top: 45px;
} .current-project h1 {
  font-size: 45px;
  text-align: center;
} 

.main-div-projects {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: aliceblue;
} 

/* Current Project */
.current-project {
  width: 80%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 30px;
  margin-top: 45px;
} .current-project h1 {
  font-size: 45px;
  text-align: center;
} .information-set h2 {
  font-size: 40px;
  margin: 40px 0 0 40px;
} .information-set p {
  font-size: 30px;
  margin: 5px 0 0 40px;
} .main-info {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
} .information-set {
  border: 1px solid black;
  border-left: none;
  width: 90%;
  background-color: rgb(182, 182, 182);
  padding-bottom: 30px;
}

/* Current Project Nav */
.information-nav {
  width: 10%;
  border-right: 1px solid black;
} .information-nav h1:hover {
  cursor: pointer;
} 


.active {
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(182, 182, 182);
  z-index: 999;
} .not-active {
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.top-title {
  margin-top: 20px;
} 

.tasks-ul li {
  font-weight: bold;
  font-size: 35px;
  margin: 15px 0 0 20px;
  list-style: none;
} 

.team-ul {
  font-weight: bold;
  font-size: 35px;
  margin: 5px 0 0 0;
  list-style: none;
  text-align: center;
  padding: 0;
}


@media screen and (max-width: 1000px) {
  nav {
    float: none;
    min-height: fit-content;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  } .main-div-projects {
    display: flex;
    min-width: 100%;
  } .current-project {
    width: 100%;
    padding: 0;
  } .information-nav {
    width: 20%;
  }
}