html {
  margin: 0;
  padding: 0;
} body {
  margin: 0;
  background-color: rgb(255, 209, 249);
} .hidden {
  display: none;
}

/* Top Header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  user-select: none;
  background-color: white;
} .list-nav ul {
  list-style: none;
  display: flex;
  padding: 0%;
} .list-nav li {
  font-size: 50px;
  font-weight: 800;
  margin-right: 40px;
} .list-nav a {
  color: black;
  transition-duration: 300ms;
  text-decoration: none;
} .list-nav a:hover {
  cursor: pointer;
  color: blueviolet;
  transition-duration: 300ms;
} #navigation-logo {
  font-size: 50px;
  font-weight: 800;
  margin-left: 40px;
  text-decoration: none;
  color: black;
} #navigation-logo:hover {
  cursor: pointer;
} #navigation-logo a {
  color: black;
  text-decoration: none;
} 


.main-div {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


/* Side All Projects */
.all-projects {
  border: 1px solid black;
  width: 400px;
  margin-left: 50px;
  display: block;
  height: fit-content;
} .all-projects h1 {
  font-size: 50px;
  text-align: center;
} .all-projects ul {
  list-style: none;
  margin: 0 30px 40px 30px;
  padding: 0;
  font-size: 35px;
  /* border: 1px solid black; */
} .all-projects p {
  padding: 15px 15px 15px 25px;
  margin: 25px 0;
  border: 1px solid black;
  transition-duration: 300ms;
} .all-projects p:hover {
  cursor: pointer;
  transition-duration: 300ms;
  background-color: white;
}

/* Current Project */
.current-project {
  width: 50%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 30px;
} .current-project h1 {
  font-size: 45px;
  text-align: center;
} .information-set h2 {
  font-size: 40px;
  margin: 40px 0 0 40px;
} .information-set p {
  font-size: 30px;
  margin: 5px 0 0 40px;
} .main-info {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
} .information-set {
  border: 1px solid black;
  border-left: none;
  width: 90%;
  background-color: rgb(182, 182, 182);
  padding-bottom: 30px;
}

/* Current Project Nav */
.information-nav {
  width: 10%;
  border-right: 1px solid black;
} .information-nav h1:hover {
  cursor: pointer;
} 


.active {
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(182, 182, 182);
  z-index: 999;
} .not-active {
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
} 